body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo {
    height: 70px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.background {
    background-image: url("../img/pattern.png");
    background-color: #54a0ff;
    height: 150px;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.sottotitolo {
    color: gray;
    font-size: 20px;
}

.blu {
    color: #36b9eb;
}

#main-img {
    margin-top: 30px;
}

.text-img {
    color: #000000c9;
}

main {
    margin-top: 20px;
}

.yellow {
    background-color: yellow;
}

thead {
    background-color: #54a0ff;
    color: white;
}

.tr-color {
    background-color: #b1e2ff;
}